:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* SentimentControls */
.sentiment-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between the buttons and slider */
}

.sentiment-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px; /* Space between the buttons */
  margin-bottom: 20px; /* Space below the buttons */
}

.sentiment-buttons button {
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid #007bff;
  background-color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sentiment-buttons button:hover {
  background-color: #007bff;
  color: white;
}

.score-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-slider input {
  width: 80%;
  margin: 10px 0;
}

.score-slider span {
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}